.topnav{
    background-color: #333;
    overflow: hidden;
    text-align: center;
 }
 a{
    text-decoration: none;
    color: white;
 }
 body{
    background-image: url("https://cdn.discordapp.com/attachments/654801600761823244/978222004647919636/7225449.png");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    margin-bottom: 50%;
    text-align:center;
    color: white;
 }
 p{
    font-size: 80px;
 }
